<footer>
    <p class="center">Terms and Conditions &#xa0;|&#xa0; Privacy Policy &#xa0;|&#xa0; California Privacy</p>
    <div class="footer-container">    
        <div class="inner-container">  
            <p> This site is not a part of the Facebook website or Facebook Inc. 
                Additionally, Facebook does NOT endorse this site. 
                FACEBOOK is a trademark of FACEBOOK, Inc. 
                This site is not a part of the YouTube website or Google, LLC. 
                Additionally, This site is NOT endorsed by Google in any way. </p>

            <p> While we may provide you preliminary information on whether you qualify for compensation, your local governing body ultimately determines who qualifies and what claims are paid.
                This site is provided for informational purposes only. If you have questions about whether you qualify, please contact an attorney. </p>
                
            <p>THIS IS A PAID ATTORNEY / ADVOCATE ADVERTISEMENT.</p>
                
            <p>*While we may provide you preliminary information on whether you may qualify for compensation, the U.S. 
                District Court: Eastern District of North Carolina ultimately determines who qualifies and what claims are paid. 
                This site is provided for informational purposes only. If you have questions about whether you qualify, please contact an attorney. </p>
                
            <p> This website uses Google Analytics and Google Ads to track your journey for marketing purposes. 
                If you wish to opt out of user-tracking click here. </p> 
        </div>   
    </div>
</footer>