<%- include("header.ejs") %>

<main class="main-container">
  <h1>What Is The Best Time To Reach You?</h1>
  <form action="/details" method="POST" class="form-container">
    <select name="time" required>
      <option value="">Choose Your Time</option>
      <option value="8 AM CST">8 AM CST</option>
      <option value="9 AM CST">9 AM CST</option>
      <option value="10 AM CST">10 AM CST</option>
      <option value="11 AM CST">11 AM CST</option>
      <option value="12 PM CST">12 PM CST</option>
      <option value="1 PM CST">1 PM CST</option>
      <option value="2 PM CST">2 PM CST</option>
      <option value="3 PM CST">3 PM CST</option>
      <option value="4 PM CST">4 PM CST</option>
      <option value="5 PM CST">5 PM CST</option>
    </select>
    <p class="center">(All times are in CST)</p>
    <button id="c-btn" type="submit">CONTINUE > </button>
  </form>
</main>

<%- include("footer.ejs") %>